html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #2980b9;
	background-color: #34495e;
	font-family: Arial, Helvetica, sans-serif;
	color: #2c3e50;
	overflow: auto;
	box-sizing: border-box;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

@media screen and (min-width: 992px) and (max-width: 1274px) {
	body {
		text-align: center;
	}

	main {
		text-align: left;
	}

	nav {
		width: auto;
		display: inline-block;
		min-width: 33%;
	}
}

@media screen and (max-width: 1274px) {
	header > h1 {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 0px) {
	body {
		font-size: 12px;
	}

	.empty-left, .empty-right {
		display: none;
	}

	main {
		font-size: 14px;
	}

	code {
		font-size: 12px;
	}

	pre {
		font-size: 13px;
	}
}

@media screen and (min-width: 1275px) {
	body {
		display: grid;
		grid-column-gap: 25px;
		grid-template-columns: auto 300px 900px auto;
		grid-template-rows: 80px auto 25px;
		grid-template-areas:
			"header header header header"
			"empty-left nav main empty-right"
			"footer footer footer footer";
		font-size: 12px;
	}

	header {
		grid-area: header;
	}

	nav {
		grid-area: nav;
		align-self: start;
	}

	main {
		font-size: 14px;
		border-radius: 2px;
	}

	.empty-left {
		grid-area: empty-left;
	}

	.empty-right {
		grid-area: empty-right;
	}

	footer {
		grid-area: footer;
	}

	code {
		font-size: 12px;
	}

	pre {
		font-size: 13px;
	}
}

@media screen and (min-width: 1500px) {
	body {
		grid-template-columns: auto 350px 1050px auto;
		grid-template-rows: 80px auto 25px;
		grid-template-areas:
			"header header header header"
			"empty-left nav main empty-right"
			"footer footer footer footer";
		font-size: 13px;
	}

	main {
		font-size: 15px;
	}

	code {
		font-size: 13px;
	}

	pre {
		font-size: 14px;
	}
}

header > h1 {
	color: #eee;
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
	margin: 0 !important;
}

button.section-method, a.section-site {
	font-size: 12px;
	font-family: monospace;
	letter-spacing: -0.3px;
	display: block;
	width: 100%;
	border: 0;
	margin: 0;
	line-height: 32px;
	vertical-align: middle;
	padding: 0 1em;
	background-color: #fff;
	color: #505050;
	box-sizing: border-box;
	text-align: left;
	border-radius: 0;
	cursor: pointer;
	border-left: 4px solid transparent;
}

button.section-method:hover, a.section-site:hover,
button.section-method:active, a.section-site:active,
button.section-method:focus, a.section-site:focus,
button.section-method:target, a.section-site:target {
	background-color: #eee;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

button.section-method.active, a.section-site.active {
	background-color: #eee;
	border-left: 4px solid #f39c12;
}

.section-site:first-of-type {
	font-weight: bold;
}

.section-method:first-of-type, .section-site:first-of-type {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.section-method:last-of-type, .section-site:last-of-type {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.section-site:last-of-type {
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.2em 0;
	font-weight: 600;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin: 0 0 1em 0;
}

p {
	margin: 0 0 1em 0;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.37em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1.03em;
}

h6 {
	font-size: .87em;
}

ul {
	margin: 1em 0 1.5em;
}

h2:first-of-type::before {
	content: "Section: ";
	font-weight: normal;
	color: #949aa0;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:visited {
	color: #3498db;
}

a:hover {
	text-decoration: underline;
}

main {
	background-color: #fff;
	padding: 25px;
	box-sizing: border-box;
	grid-area: main;
	align-self: start;
}

pre {
	background-color: #ecf0f1;
	padding: 0.5em;
	font-family: "Lucida Console", Monaco, monospace;
}

code {
	background-color: #ecf0f1;
	color: #8e44ad;
	padding: 2px 4px;
	font-family: "Lucida Console", Monaco, monospace;
}

pre code {
	background-color: #ecf0f1;
	color: #2c3e50;
	padding: none !important;
}

pre:last-child {
	margin-bottom: 0;
}

pre > .language-http-headers, pre > .language-json {
	display: block;
	position: relative;
}

pre > .language-http-headers::after, pre > .language-json::after {
	position: absolute;
	right: 0;
	top: 0;
	color: #BFBFBF;
	font-size: 14px;
}

pre > .language-http-headers::after {
	content: 'HTTP Headers';
}

pre > .language-json::after {
	content: 'JSON';
}

.language-json-string {
	color: #e67e22;
}

.language-json-number {
	color: #138C58;
}

.language-json-key {
	color: #4a51bf;
}
