html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	background-color: #2980b9;
	background-color: #34495e;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2c3e50;
	overflow: auto;
	box-sizing: border-box;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	display: grid;
	grid-template-columns: auto 300px 900px auto;
	grid-template-rows: 80px auto 80px;
	grid-template-areas:
		"header header header header"
		"empty-left nav main empty-right"
		"footer footer footer footer";
	grid-column-gap: 2em;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
	align-self: start;
}

.empty-left {
	grid-area: empty-left;
}

.empty-right {
	grid-area: empty-right;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}

button.section-method, a.section-site {
	font-size: 12px;
	display: block;
	width: 100%;
	border: 0;
	margin: 0;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 1em;
	background-color: #fff;
	color: #505050;
	box-sizing: border-box;
	text-align: left;
	border-radius: 0;
	cursor: pointer;
}

button.section-method:hover, a.section-site:hover,
button.section-method:active, a.section-site:active,
button.section-method:focus, a.section-site:focus,
button.section-method:target, a.section-site:target {
	background-color: #eee;
	cursor: pointer;
	outline: none;
}

.section-site:first-of-type {
	font-weight: bold;
}

.section-method:first-of-type, .section-site:first-of-type {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.section-method:last-of-type, .section-site:last-of-type {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.section-method:first-of-type {
	margin-top: 1em;
}

iframe {
	width: 100%;
	height: 0;
	border: 0;
	padding: 0;
	margin: 0;
}
